/* ===== GLOBAL ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#f2f2f2;
}

/* ===== NAVBAR ===== */
nav{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin:0 12px;
}

.menu a:hover{
    color:#00d2ff;
}

.search input{
    padding:7px 12px;
    border-radius:6px;
    border:none;
}

.cart-count{
    background:red;
    padding:3px 8px;
    border-radius:50%;
    font-size:12px;
}

/* ===== PRODUCT LAYOUT ===== */
.container{
    display:flex;
    gap:50px;
    padding:50px;
    background:white;
    margin:40px;
    border-radius:12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

/* IMAGE */
.product-img img{
    width:350px;
    border-radius:10px;
}

/* DETAILS */
.details{
    max-width:500px;
}

/* PRICE */
.price{
    font-size:22px;
    margin:20px 0;
}

.old-price{
    text-decoration:line-through;
    color:gray;
    margin-right:10px;
}

.new-price{
    color:#27ae60;
    font-weight:bold;
}

.discount{
    color:#e74c3c;
    font-weight:bold;
}

/* COLORS */
.colors button{
    padding:10px 18px;
    border:none;
    border-radius:20px;
    margin-right:10px;
    cursor:pointer;
}

.black{
    background:rgb(238, 229, 229);
    color:rgb(22, 21, 21);
}

.white{
    background:#ddd;
}

/* CART BUTTON */
.add-cart{
    margin-top:25px;
    padding:12px 25px;
    background:#111;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.add-cart:hover{
    background:#333;
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){
    .container{
        flex-direction:column;
        text-align:center;
        align-items:center;
    }
}
